* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

:root {
    --clr: #222327;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr);

}

.navegador {
    position: relative;
    background-color: #fff;
    height: 70px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
}

.navegador ul {
    display: flex;
    width: 350px;
}

.navegador ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navegador ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navegador ul li a .icone {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navegador ul li.ativado a .icone {
    transform: translateY(-35px);
}

.navegador ul li a .texto {
    position: absolute;
    font-size: 0.75;
    letter-spacing: 0.05;
    color: var(--clr);
    transition: 0.5s;
    opacity: 0;
}

.navegador ul li.ativado a .texto{
    opacity: 1;
    transform: translateY(10px);

}

.navegador ul .indicador {
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #29fd53;
    border-radius: 100%;
    top: -50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicador::before {
    content: '';
    background-color: white;
    position: absolute;
    top: 50%;
    left: -23px;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow:0 -10px 0 0 var(--clr);

}

.indicador::after {
    content: '';
    background-color: white;
    position: absolute;
    top: 50%;
    right: -23px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 20px;
    box-shadow:0 -10px 0 0 var(--clr);
}

.navegador ul li:nth-child(1).ativado ~ .indicador {
    transform: translateX(calc(70px * 0));
}

.navegador ul li:nth-child(2).ativado ~ .indicador {
    transform: translateX(calc(70px * 1));
}

.navegador ul li:nth-child(3).ativado ~ .indicador {
    transform: translateX(calc(70px * 2));
}

.navegador ul li:nth-child(4).ativado ~ .indicador {
    transform: translateX(calc(70px * 3));
}

.navegador ul li:nth-child(5).ativado ~ .indicador {
    transform: translateX(calc(70px * 4));
}